/*
    Theme Name: URN Material (Varsity)
    Author: James Turner & Harry Mumford-Turner
    Description: A version of the standard theme tweaked for the varsity period
    Template: urn-material
    Version: 0.1
    License: ?
*/

@import 'compass';

$uon-green: #005f36;
$uon-gold: #deb406;
$ntu-pink: #e6005b;
$ntu-blue: #003867;

@import '_partials/varsity';
