/*
    Theme Name: URN Material (Varsity)
    Author: James Turner & Harry Mumford-Turner
    Description: A version of the standard theme tweaked for the varsity period
    Template: urn-material
    Version: 0.1
    License: ?
*/
#nav > ul > .nav-item.current a {
  border-color: #deb406;
}

#listen-now {
  background: #deb406;
}
#listen-now .show-container .play {
  background-image: url("images/play-icon.svg");
}
#listen-now .show-container .send-message .message {
  background: #deb406;
}

.btn {
  background: #deb406;
}
.btn:hover, .btn:focus {
  background: #ac8c05;
  outline: none;
}
.btn:active {
  box-shadow: inset 0 2px 3px -2px black(0.4);
}
.btn:disabled {
  background: #fad950;
}

.embed-yt {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-wide {
  padding-top: 15px;
  padding-bottom: 15px;
}

.su-box:first-child {
  margin-right: 8px;
  padding: 15px;
}

.su-box:last-child {
  margin-left: 8px;
  padding: 15px;
}

.su-box {
  border: 2px solid rgba(0, 0, 0, 0.15);
}
.su-box ul h1 {
  font-size: 1.2em;
}

.varsity-scoreboard {
  margin: 40px 0;
}
.varsity-scoreboard table {
  background: yellow;
  width: 100%;
}
.varsity-scoreboard th {
  font-weight: 600;
}
.varsity-scoreboard td,
.varsity-scoreboard th {
  padding: 10px;
}
