/*
    Theme Name: URN Material (Varsity)
    Author: James Turner & Harry Mumford-Turner
    Description: A version of the standard theme tweaked for the varsity period
    Template: urn-material
    Version: 0.1
    License: ?
*/
#header {
  background: url("images/banner.png") repeat-x center;
}

#nav > ul > .nav-item.current a {
  border-color: #deb406;
}

#listen-now {
  background: #deb406;
}
#listen-now .show-container .play {
  background-image: url("images/play-icon.svg");
}
#listen-now .message {
  background: #deb406;
}

.embed-yt {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row-wide {
  padding-top: 15px;
  padding-bottom: 15px;
}

.su-box:first-child {
  margin-right: 8px;
  padding: 15px;
}

.su-box:last-child {
  margin-left: 8px;
  padding: 15px;
}

.su-box {
  border: 2px solid #5374B9;
}

.su-box ul h1 {
  font-size: 1.2em;
}
