/*
    Theme Name: URN Material (Varsity)
    Author: James Turner & Harry Mumford-Turner
    Description: A version of the standard theme tweaked for the varsity period
    Template: urn-material
    Version: 0.1
    License: ?
*/
@font-face {
  font-family: 'Digital';
  src: url("fonts/digital-7.ttf");
}
#nav > ul > .nav-item.current a {
  border-color: #deb406;
}

#listen-now {
  background: #deb406;
}
#listen-now .show-container .play {
  background-image: url("images/play-icon.svg");
}
#listen-now .show-container .send-message .message {
  background: #deb406;
}

.btn {
  background: #deb406;
}
.btn:hover, .btn:focus {
  background: #ac8c05;
  outline: none;
}
.btn:active {
  box-shadow: inset 0 2px 3px -2px rgba(0, 0, 0, 0.4);
}
.btn:disabled {
  background: #fad950;
}

.embed-yt {
  display: block;
  text-align: center;
}

.row-wide {
  padding-top: 15px;
  padding-bottom: 15px;
}

.su-box:first-child {
  margin-right: 8px;
  padding: 15px;
}

.su-box:last-child {
  margin-left: 8px;
  padding: 15px;
}

.su-box {
  border: 2px solid rgba(0, 0, 0, 0.15);
}
.su-box ul h1 {
  font-size: 1.2em;
}

.main-content {
  padding-top: 30px;
}

.row:first-child.varsity-scores {
  padding: 10px;
}

.varsity-matches {
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #fff;
  display: none;
  margin: 20px 35px;
}
.varsity-matches h1 {
  font-size: 2em;
}
.varsity-matches table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875em;
  width: 100%;
}
.varsity-matches td,
.varsity-matches th {
  padding: 10px;
}
.varsity-matches th {
  border-bottom: 1px solid #999;
  font-weight: 600;
  text-align: left;
}
.varsity-matches td,
.varsity-matches table thead td {
  border-bottom: 1px solid #dadada;
}
.varsity-matches tr:last-child td {
  border-bottom: 0;
}
.varsity-matches tbody tr:nth-child(even) {
  background: #f8f8f8;
}

.varsity-scores {
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}
.varsity-scores h1 {
  font-size: 2em;
  margin-bottom: 15px;
}
.varsity-scores .scores {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.varsity-scores .team {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
}
.varsity-scores .score {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  padding: 10px 35px;
}
.varsity-scores .score:first-child {
  background: #005f36;
  border: 6px solid #004628;
}
.varsity-scores .score:first-child .points {
  color: #deb406;
  text-shadow: 0 0 3px #ac8c05;
}
.varsity-scores .score:last-child {
  background: #003867;
  border: 6px solid #002a4e;
}
.varsity-scores .score:last-child .points {
  color: #e6005b;
  text-shadow: 0 0 3px #b30047;
}
.varsity-scores .points {
  display: block;
  font-family: "Digital", "Open Sans", sans-serif;
  font-size: 6em;
  line-height: 0.7;
  padding-bottom: 20px;
}
