#header {
    // background: url('images/banner.png') repeat-x center;
}

#nav > ul > .nav-item.current a {
    border-color: $uon-gold;
}

#listen-now {
    background: $uon-gold;

    .show-container {
        .play {
            background-image: url('images/play-icon.svg');
        }

        .send-message .message {
            background: $uon-gold;
        }
    }
}

.btn {
    background: $uon-gold;

    &:hover,
    &:focus {
        background: darken($uon-gold, 10%);
        outline: none;
    }

    &:active {
        box-shadow: inset 0 2px 3px -2px black(0.4);
    }

    &:disabled {
        background: lighten($uon-gold, 20%);
    }
}

.embed-yt {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row-wide {
    padding-top: 15px;
    padding-bottom: 15px;
}

.su-box:first-child {
    margin-right: 8px;
    padding: 15px;
}

.su-box:last-child {
    margin-left: 8px;
    padding: 15px;
}

.su-box {
    border: 2px solid rgba(0, 0, 0, 0.15);

    ul h1 {
        font-size: 1.2em;
    }
}

.varsity-scoreboard {
    margin: 40px 0;

    table {
        background: yellow;
        width: 100%;
    }

    th {
        font-weight: 600;
    }

    td,
    th {
        padding: 10px;
    }
}
