@font-face {
    font-family: 'Digital';
    src: url('fonts/digital-7.ttf');
}

@font-face {
    font-family: 'Varsity';
    src: url('fonts/varsity_regular.ttf');
}

#header {
    // background: url('images/banner.png') repeat-x center;
}

#nav > ul > .nav-item.current a {
    border-color: $uon-gold;
}

#listen-now {
    background: $uon-gold;

    .show-container {
        .play {
            background-image: url('images/play-icon.svg');
        }

        .send-message .message {
            background: $uon-gold;
        }
    }
}

.btn {
    background: $uon-gold;

    &:hover,
    &:focus {
        background: darken($uon-gold, 10%);
        outline: none;
    }

    &:active {
        box-shadow: inset 0 2px 3px -2px black(0.4);
    }

    &:disabled {
        background: lighten($uon-gold, 20%);
    }
}

.embed-yt {
    display: block;
    text-align: center;

    @include breakpoint(tablet) {
        iframe {
            width: 100%;
        }
    }
}

.row-wide {
    padding-top: 15px;
    padding-bottom: 15px;
}

.su-box:first-child {
    margin-right: 8px;
    padding: 15px;
}

.su-box:last-child {
    margin-left: 8px;
    padding: 15px;
}

.su-box {
    border: 2px solid rgba(0, 0, 0, 0.15);

    ul h1 {
        font-size: 1.2em;
    }
}

.main-content {
    padding-top: 30px;
}

.row:first-child.varsity-scores {
    padding: 10px;
}

.varsity-matches {
    @include flex-direction(column);
    background: #fff;
    display: none;
    max-height: 400px;
    overflow: auto;

    h1 {
        font-size: 2em;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 0.875em;
        width: 100%;
    }

    td,
    th {
        padding: 10px;
    }

    th {
        border-bottom: 1px solid #999;
        font-weight: 600;
        text-align: left;
    }

    td,
    table thead td {
        border-bottom: 1px solid #dadada;
    }

    tr:last-child td {
        border-bottom: 0;
    }

    tbody tr:nth-child(even) {
        background: #f8f8f8;
    }
}

.varsity-scores {
    @include flex-direction(column);
    margin: 20px auto;
    max-width: 600px;
    text-align: center;

    h1 {
        font-size: 3em;
        font-family: 'Varsity', 'Open-sans', Arial, sans-serif;
        font-weight: 400;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .scores {
        @include display-flex;
        @include flex-direction(row);
    }

    .team {
        color: #fff;
        font-size: 2em;
        font-weight: 600;
    }

    .score {
        @include flex-grow(1);
        box-shadow: 0 1px 4px black(0.5);
        margin: 0 5px;
        padding: 10px 5px;

        &:first-child {
            background: $uon-green;
            border: 6px solid darken($uon-green, 5%);

            .points {
                color: $uon-gold;
                text-shadow: 0 0 3px darken($uon-gold, 10%);
            }
        }

        &:last-child {
            background: $ntu-blue;
            border: 6px solid darken($ntu-blue, 5%);

            .points {
                color: $ntu-pink;
                text-shadow: 0 0 3px darken($ntu-pink, 10%);
            }
        }
    }

    .points {
        display: block;
        font-family: "Digital", "Open Sans", sans-serif;
        font-size: 6em;
        line-height: 0.9;
        padding-bottom: 10px;
    }
}

.tennis-ball {
    background-color: #71cc00;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;

    &:before,
    &:after {
        border-radius: 50%;
        border: solid 1em #fff;
        box-sizing: border-box;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    &:before {
        right: 70%;
    }

    &:after {
        left: 70%;
    }
}
